.leads {
  background-image: url("/images/backgrounds/leads-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.leads ul li {
  position: relative;
}
.leads ul li::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="2.5" stroke="white"><g transform="scale(0.7) translate(5,5)"><path strokeLinecap="round" strokeLinejoin="round" d="m4.5 12.75 6 6 9-13.5" /></g></svg>');
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #009c31;
}
